@model NhaHangTiecCuoi.DatSanh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3>Bạn có thật sự muốn xóa phiếu đặt sảnh này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            Số Điện Thoại Khách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTKhach)
        </dd>

        <dt>
            Ngày Đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            Ngày Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

        <dt>
            Buổi Tổ Chức Tiệc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ca)
        </dd>

        <dt>
            Tên Dịch Vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            Tên Sảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanh.TenSanh)
        </dd>

        <dt>
            Số Lượng Thực Đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thuc_Don.SoLuong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Xóa", "Edit", new { id = Model.MaDV }) |
        <a href="http://localhost:50458/Admin/DatSanhs" class="btn btn-danger">Hủy</a>
    </div>
    }
</div>
